
  body {
    color:rgba(180, 21, 185, 0.89);
    background-image: url("..//first-project/images/vusal2.jpg");
     background-repeat: no-repeat;
     background-position:center;
     background-size:cover;
  }
 

 h1 {
     display: block;
     text-align:center;font-size: 70px;
     font-family: 'Satisfy', cursive;
 }

 .img-div{
     width: 100%;
     display: block;
    
 }
 .img-div img{
     display: block;
     margin: auto;
     width: 250px; height: 300px;
     
 }