body {
    background-color: silver;
 }
 h1 {
     display: block;
     text-align:center;font-size: 70px;
 }
 .img-div{
     width: 100%;
    
 }
 .img-div img{
     display: block;
     margin: auto;
     width: 250px; height: 250px;
 }